@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    background-color: rgb(136, 136, 136);
    
}

.reviews {
    padding-right: 20px;
}

body #fonts {
    font-family: 'Montserrat', sans-serif;
}

.header-title {
    padding: 10px;
    text-align: center;
    background: red;
    color: white;
    font-size: 30px;
  }